
body{
  background-size: 100%;
  box-sizing: border-box;
}
div.hero {

  content:url(./me.jpg);
  max-width:100%;
  max-height: 100%;
  width:auto;

}

div.content {
  width: 40%;
  margin:0 auto;
  display:flex;
}

section.about {
 margin-top: 10px;
}
div.logo_flag{
  text-align: right;
  background-color: red;
  width: 200px;
  float:left;
}
h1{
  color:white;
  margin-right: 10px;
}
span{
  float:left;
  color:grey;
  width:40px;
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 10px;
}

a{
  display:inline-block;
  text-decoration: none;
  padding:20px;
  width:40%;
  text-align:center;
}
a:nth-child(1) {
    width:85%;
    background: grey;
}

a:nth-child(2) {
    background: blue;
}

a:nth-child(3) {
    background: pink;
}

a:nth-child(4) {
    background: black;
}

a:nth-child(5) {
    background: brown;
}

a:nth-child(6) {
    background: red;
}

a:nth-child(7) {
    background: blue;
}

footer{
  text-align: cetner;
  background:grey;
  width:100%;
  height:100%;
  padding:20px;

}
